[Unit]
Description=Todo Application Service - {{ app_environment }}
After=syslog.target network.target

[Service]
WorkingDirectory=/opt/{{ app_name }}-{{ app_environment }}
Environment="JAVA_HOME=/usr/lib/jvm/jre-17-openjdk-17.0.7.0.7-5.fc38.x86_64"
ExecStart=java -Xms128m -Xmx256m -jar {{ app_path }}
ExecStop=/bin/kill -15 $MAINPID
User={{ app_user }}
Group={{ app_group }}
Type=simple
Restart=on-failure
RestartSec=10
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target