<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-2">
            <p><a class="btn btn-outline-success" href="/">
                <i class="bi bi-arrow-left-square-fill"></i> Back</a>
            </p>
        </div>
        <div class="col-6">
            <h2>Edit Todo Item</h2>
            <form class="row g-3" action="#" th:action="@{/todo/{id}(id=${todo.id})}" th:object="${todo}" method="POST">
                <div class="form-group">
                    <div class="col-6">
                        <label for="description">Description</label>
                        <input class="form-control"
                               type="text"
                               th:field="*{description}"
                               id="description"
                               placeholder="Description"
                        >
                    </div>
                    <div class="col-6 form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               id="inputIsComplete"
                               th:field="*{isComplete}"
                               th:checked="${isComplete} == true">
                        <label class="form-check-label" for="inputIsComplete">
                            Completed?
                        </label>
                    </div>

                    <input type="hidden" th:field="*{createdAt}" />
                    <input type="hidden" th:field="*{updatedAt}" />

                    <button type="submit" class="btn btn-outline-success">
                        <i class="bi bi-plus-square-fill"></i> Update
                    </button>

                </div>
            </form>
        </div>
    </div>

    <hr />
    <footer>
        <p>Version: <span th:text="${appVersion}"></span></p>
    </footer>
</div>
<hr />
<footer>
    <p>Version: <span th:text="${appVersion}"></span></p>
</footer>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>