<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>Spring Boot 3 - Todo Application</h1>
    <hr />
    
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Actions</th>
            <th>Id</th>
            <th>Description</th>
            <th>Is Complete</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${todoItems}" th:class="${item.isComplete} ? 'alert alert-success' : 'alert alert-warning'">
            <td>
                <div class="btn btn-group-sm" role="group">
                    <a class="btn btn-info" th:href="@{/edit/{id}(id=${item.id})}">
                        <i class="bi bi-pencil-fill"></i> Edit</a>
                    <a class="btn btn-danger" th:href="@{/delete/{id}(id=${item.id})}">
                        <i class="bi bi-trash-fill"></i> Delete</a>
                </div>
            </td>
            <td th:text="${item.id}"></td>
            <td th:text="${item.description}"></td>
            <td>
                <span th:if="${item.isComplete} == true" th:text="Yes" />
                <span th:unless="${item.isComplete} == true" th:text="No" />
            </td>
            <td th:text="${item.createdAt}"></td>
            <td th:text="${item.updatedAt}"></td>
        </tr>
        </tbody>
    </table>

    <p><a class="btn btn-outline-success" href="/create-todo">
        <i class="bi bi-plus-square-fill"></i> Create a Todo</a>
    </p>
    <hr />
    <footer>
        <p>Version: <span th:text="${appVersion}"></span></p>
    </footer>
</div>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>